<header>
    <div>
        {{#if publicId}}
        <img src="{{picture}}" alt="{{name}}'s picture">
        {{publicId}}
        {{else }}
        fetching name...
        {{/if}}
    </div>
</header>