<header>
        {{#if publicId}}
        <img src="{{picture}}" alt="{{name}}'s picture" class="logo-image">
        <h1 class="title">{{publicId}}</h1>
        {{else }}
        fetching name...
        {{/if}}
</header>