<main>
  <article>
    <section>
      <input type="search" name="User" id="user" oninput="setSearch()">
      <input type="search" name="User" id="conn" oninput="searchConnection()">
    </section>

    <section id="result">
      see
    </section>
  </article>
</main>