<main>
  <article>
    <section id="result" class="result">
      <p>Type and Search for a Torre User</p>
    </section>
  </article>
</main>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Get {{person.name}} connections</h3>
    <div class="form-group">
      <label for="conn">Search Connection</label>
      <input type="search" name="connection" id="conn">

      <button onclick="searchConnection('{{person.publicId}}')">Search</button>
    </div>
    <hr>
    <div id="connectionResult" class="result">
      Search
    </div>
  </div>

</div>