<main>
  <article>
    <div class="sorting">
      <label for="sortList">Sort Result:</label>
      <select name="sorting" id="sortList">
        <option value="name">Names</option>
        <option value="weight">Weights</option>
      </select>
    </div>
    <section id="result" class="result">
      <p>Type and Search for a Torre User</p>
    </section>
  </article>
</main>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Get {{person.name}} connections</h3>
    <div class="form-group">
      <label for="conn">Search Connection</label>
      <input type="search" name="connection" id="conn">
      <input type="hidden" id="username" value="{{person.publicId}}">
      <button id="connectionBtn">Search</button>
    </div>
    <hr>
    <div id="connectionResult" class="result">
      Search
    </div>
  </div>

</div>